.facet-filter {
    background-color: #e5eef7;
    padding: 0px 9px;
    margin-bottom: 11px;
  }
  
  h2.facet-filter-header {
    font-weight: normal;
    font-size: 19px;
    margin-top: 39px;
	margin-bottom: 10px;
    line-height: 28px;
	font-family: "Source Sans Pro", sans-serif;
  }
  
  .facet-filter h3 {
    font-size: 20px;
    line-height: 50px;
    font-weight: bold;
    margin: 0px;
  }
  
  .facet-filter h3 a,
  .facet-filter h3 a:visited {
    color: $bhcc-black;
    text-decoration: none;
    display: block;
  }
  
  .facet-filter h3 span {
    padding-left: 5px;
    color: #F37021;
    font-size: 19px;
    width: 20px;
    margin-right: 10px;
  }
  
  
  
  .facet-filter .checkbox-wrapper {
    display: none;
  
  }
  
  .facet-filter .checkbox-wrapper.open {
    padding-bottom: 9px;
  }
  
  .facet-filter .collapsed {
    padding-bottom: 0px;
  }
  
  
  .facet-filter-checkboxes {
    list-style: none;
    font-size: 17px;
    background-color: #fff;
    padding: 0 12px;
  }
  
  .facet-filter-checkboxes li {
    border-bottom: 1px solid #eee;
    padding-top: 5px;
    position: relative;
  }
  
  .facet-filter-checkboxes li:last-child {
    border-bottom: 0px;
  }
  
  .facet-filter-checkboxes label {
    padding-left: 30px;
	display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
	@include rem(font-size, 19);
  }
  
  .facet-filter-checkboxes label:before {
    content: '';
    height: 18px;
    width: 18px;
    border: 1px solid #eee;
    display: block;
    position: absolute;
    top: 10px;
    left: 0px;
    font-family: Font Awesome\ 5 Free;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1.3;
    text-align: center;
    font-size: 15px;
  }
  
  .facet-filter-checkboxes input[type=checkbox] {
    width: 20px;
    height: 20px;
    top: 0px;
    left: 0px;
    position: absolute;
    opacity: 0;
  }
  
  .facet-filter-checkboxes input[type=checkbox]:checked ~ label:before {
    content: '\f00c';
    height: 20px;
    width: 20px;
    border: 1px solid #34ad5d;
    color: #34ad5d;
    display: block;
    position: absolute;
    top: 10px;
    left: 0px;
  }
  
  .directories-hide-filters {
    margin-top: 15px;
    font-size: 18px;
    line-height: 28px;
  }
  
  @media only screen and (max-width: 767px) {
    .directories-hide-filters {
      font-size: 17px;
    }
  }
  
  .directories-hide-filters a {
    font-weight: bold;
    text-decoration: none;
  }
  
  .directories-hide-filters .fas,
  .directories-hide-map .fas {
    color: $bhcc-black;
    padding-right: 5px;
  }
  
  .directories-hide-filters .hide-filters,
  .directories-hide-filters .show-filters {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .directories-filters {
    margin-top: 18px;
    padding-bottom: 13px;
  }
  
  .directories-hide-filters .hide-filters {
    display: inline;
  }
  
  .directories-hide-filters .show-filters {
    display: none;
  }
  
  .filter-wrapper {
    display: block;
  }
  
  
  @media only screen and (max-width: 767px) {
    .directories-hide-filters .hide-filters {
      display: none;
    }
    .directories-hide-filters .show-filters {
      display: inline;
    }
    .filter-wrapper {
      display: none;
    }
}