.ol-overlay-container .popup {
    width: 260px;
    height: 160px;
    padding: 16px;
    background-color: #fff;
    position: absolute;
    top: -207px;
    left: -130px;
    z-index: 99;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
  }
  
  .ol-overlay-container .popup h2 {
    margin-bottom: 0px;
	font-family: "Source Sans Pro", sans-serif;
  }
  
  .ol-overlay-container .popup h2 a {
    font-size: 18px;
    line-height: 24px;
  }
  
  .ol-overlay-container .popup p,
  .ol-overlay-container .popup li {
    font-size: 15px;
    line-height: 26px;
  }
  
  .ol-overlay-container .popup p,
  .ol-overlay-container .popup ul {
    margin: 0px;
  }
  
  .ol-overlay-container .popup .fas {
    margin-right: 20px;
  }
  
  .ol-overlay-container .popup ul {
	padding-left: 0px;
	list-style: none;
  }
  
  @media only screen and (max-width: 767px) {
    .ol-overlay-container .popup h2 a {
      font-size: 17px;
      line-height: 22px;
    }
  }
  
  .ol-overlay-container .popup:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 11px solid #fff;
    bottom: -11px;
    position: absolute;
    left: 119px;
    z-index: 199;
  }
  
  .ol-overlay-container .marker {
    width: 25px;
    height: 30px;
    background-color: transparent;
    background-image: url(../img/black_orange.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: 0 -11px;
    background-origin: border-box;
    cursor: pointer;
  }
  
  .ol-control {
    z-index: 999;
  }
  
  .ol-overlay-container .marker.selected {
    background-position: -25px -11px;
  }
  
