.site-search button {
  border-radius: 0px !important;
}

.site-search--desktop {
  float: right;
  @include rem(width, 250);
  list-style: none;
}

.site-search--desktop input[type=text]:focus,
.site-search--desktop button:focus {
  outline: 0;
}

.site-search--mobile {
  @media only screen and (max-width: $screen-xs-max){
    display: block;
  }
  @media only screen and (min-width: $screen-sm-min){
    display: none;
  }
  @include rem(margin-bottom, 10);
  .input-group {
	width: 100%;
  }
}

.site-search--desktop, .site-search--mobile {
  input, .btn-default {
    @include rem(height, 50);
    border-radius: 0px;
    @include rem(font-size, 17);
	border-bottom: 0px;
	@include rem(width, 55);
  }
  input {
    border-color: white;
	@include rem(padding, 13.5);
	width: 100%;
  }
  input:focus {
    outline: none;
  }
  .btn-default {
    background: $bhcc-black;
    border-color: $bhcc-black;
    color: white;
    @include rem(padding, 0, 18);
    &:focus {
      outline: 4px solid #FFCC33;
    }
  }
}

.form-control {
    border: none;
}