// not currently is use
.servicehub--status {
    overflow: auto;
    .fa-info-circle {
        position: absolute;
        left: 0;
        @include rem(font-size, 35);
        vertical-align: middle;
        @include rem(margin-right, 10);
    }
    h2 {
        font-family: $font-header-bold;
        @include rem(font-size, 25);
        font-weight: 800;
        @include rem(margin, 25, 0);
    }
    h3 {
        @include rem(font-size, 22);
        font-weight: bold;
        @include rem(margin-top, 5);
		@include rem(margin-bottom, 10);
        display: inline-block;
    }
    p {
        font-weight: bold;
        display: inline;
    }
    span {
        position: relative;
        @include rem(padding-left, 50);
        @include rem(margin-bottom, 15);
        display: inline-block;
    }
}

.servicehub--update {
    overflow: auto;
    @include rem(margin-top, 30);
    @include rem(margin-bottom, 20);
    background-color: $bhcc-blue-tint;
    @include rem(padding, 20);
    &_inner {
        background: white;
        @include rem(padding, 20, 30, 25);
        @media only screen and (max-width: $screen-xs-max){
           @include rem(padding, 20, 20, 10);
        }
    }
    ul {
        display: table;
        width: 100%;
        list-style-type: none;
        &:not(:last-child){
            @include rem(margin-bottom, 20);
        }
        h2 {
            @include rem(font-size, 25);
            float: left;
            @include rem(margin, 10, 0);
            font-weight: 600;
            @include rem(padding-right, 20);
            @media only screen and (max-width: $screen-xs-max){
                float: none;
                @include rem(margin, 10, 0, 0);
            }
		}
        @media only screen and (max-width: $screen-xs-max){
            display: block;
            @include rem(margin-bottom, 20);
        }
    }
    li {
        display: table-cell;
        &:first-child {
            @include rem(width, 150);
            font-weight: bold;
        }
        &:last-child {
            @media only screen and (min-width: $screen-sm-min){
                width: 110px;
                text-align: right;
            }
        }
        @media only screen and (max-width: $screen-xs-max){
            display: block;
        }
    }
    .read-more {
        font-weight: bold;
        text-decoration: underline;
        white-space: nowrap;
    }
    &.striped ul:not(:last-child) {
        border-bottom: $bhcc-keyline;
        @include rem(padding-bottom, 20);
    }
}