.servicehub--link-block {
    position: relative;
    @include rem(padding-left, 25);
    display: inline-block;
    @media only screen and (min-width: $screen-sm-min){
        @include rem(margin-left, 35);
    }
    i {
        position: absolute;
        left: 0;
        @include rem(top, 2);
        @include rem(width, 20);
        height: 100%;
        @include rem(padding-right, 12);
        color: $bhcc-orange;
        @include rem(font-size, 19);
        height: 100%;
    }
    h3 {
        margin: 0;
        @include rem(font-size, 21);
        font-weight: 700;
		line-height: 1.1;

    }
    p {
        @include rem(padding, 15, 0);
    }
}

.servicehub--link-section {
    overflow: auto;
    float: left;
    @include rem(padding, 30, 0);
    width: 100%;
    h2 {
        font-family: $font-header-bold;
        font-weight: 700;
        @include rem(margin-bottom, 35);
		@include rem(font-size, 30);
    }
    &:not(:last-child){
        border-bottom: $bhcc-keyline;
    }
}

.servicehub--link-slice {
    width: 100%;
    @include rem(margin-bottom, 20);
}

.servicehub--link-slice [class*="col-"] {
  @include rem(padding-top, 0);
  @include rem(padding-bottom, 0);
}

.servicehub--link-list {
    @include rem(margin-right, 50);
    @media only screen and (max-width: $screen-xs-max){
        @include rem(margin-right, 10);
    }
    
}

.servicehub--more {
    overflow: auto;
    padding: 30px 35px 30px 0;
    @include rem(padding, 30, 35, 30, 0);
    border-bottom: $bhcc-keyline;
    @include rem(margin-bottom, 20);
    h2 {
        font-family: $font-header-bold;
        font-weight: 600;
		line-height: 1;
        @include rem(margin-bottom, 30);
		@include rem(font-size, 30);
    }
}

.servicehub--more [class*="col-"] {
  @include rem(padding-top, 0);
  @include rem(padding-bottom, 0);
}