.icon-social {
    display: inline-block;
    @include rem(font-size, 22);
    @include rem(padding, 10, 8);
    text-align: center;
    @include rem(width, 44);
    @include rem(border-radius, 5);
    color: white !important;
}
.icon-social--facebook {
background-color: #3b5998;
}
.icon-social--twitter {
background-color: #0084b4;
}
.icon-social--youtube {
background-color: #cc181e;
}
.icon-social--linkedin {
background-color: #0077b5;
}