/* File path */

$image-folder: '../img';

/* Colour palette */

$white: #FFF;
$bhcc-background: #E8E8E8;
$bhcc-body: #EDEDED;
$bhcc-pink: #A41055;
$bhcc-purple: #990066;
$bhcc-orange: #F37021;
$bhcc-orange-dark1: darken(#F37021, 10%);
$bhcc-orange-dark2: darken(#F37021, 20%);
$bhcc-black: #000000;
$bhcc-blue: #0059A4;
$bhcc-blue-light: #3399CC;
$bhcc-blue-tint: #f0f5fa;
$bhcc-blue-dark1: #004783;
$bhcc-blue-dark2: #003969;
$bhcc-green: #008920;
$bhcc-green-light: #6DB97F;
$bhcc-green-dark1: #006E1A;
$bhcc-green-dark2: #005815;
$bhcc-red: #D2232A;
$bhcc-yellow: #FFCC33;
$bhcc-lightgrey: #F4F4F4;
$bhcc-lightmidgrey: #E8E8E8;
$bhcc-midgrey: #D8D8D8;
$bhcc-darkgrey: #646666;
$bhcc-footer: #D5DBE0;
$bhcc-sub-footer: #28292B;
$bhcc-form-background: #FAFAFA;
$bhcc-form-labels: #555555;

$bhcc-homepage-bg-pink: #980064;
$bhcc-homepage-bg-blue: #077eb8;

$bhcc-focus: 4px solid #FFCC33; 
$bhcc-keyline: 1px solid $bhcc-midgrey;

/* Breakpoints */

$screen-xxs-max: 539px;
$screen-xs-min: 540px;
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

/* Fonts */

// Sentinel is not loading on this demo but is required on Drupal
$font-header-bold: 'Sentinel SSm A', 'Sentinel SSm B', Georgia, serif;
$font-header-medium: 'Sentinel SSm A', 'Sentinel SSm B', Georgia, serif;
$font-main: 'Source Sans Pro', sans-serif;