{
  "ignoreFiles": [
    "src/assets/scss/lib/partials/_formio.scss",
    "src/assets/scss/lib/_functions.scss",
    "src/assets/scss/lib/_variables.scss"
  ],
  "rules": {
    "block-no-empty": null,
    "color-no-invalid-hex": true,
    "comment-empty-line-before": [ "always", {
      "ignore": ["stylelint-commands", "after-comment"]
    } ],
    "declaration-colon-space-after": "always",
    "indentation": [2, {
      "except": ["value"]
    }],
    "color-no-hex": true,
    "no-duplicate-selectors": true,
    "max-empty-lines": 2,
    "rule-empty-line-before": [ "always", {
      "except": ["first-nested"],
      "ignore": ["after-comment"]
    } ],
    "unit-whitelist": ["em", "rem", "%", "s", "deg", "ms", "vh"]
  }
}