<!-- FOOTER -->
<footer>

  <!-- Start footer top row wrapper -->
  <div class="footer-top bg-carbon">
    <div class="container-fluid site-max">
      <div class="row">
        {{ page.footer_first }}
      </div>
    </div>
  </div>
  <!-- End footer top row wrapper -->

  <!-- Start footer bottom row wrapper -->
  <nav class="navbar-light nav-vanilla bg-light">
    <div class="container-fluid site-max">
      <div class="row">
        {{ page.footer_second }}
      </div>
    </div>
  </nav>
  <!-- End footer bottom row wrapper -->

</footer>
