<!-- FOOTER -->
<footer class="bg-carbon">
    <!-- END FOOTER --><!-- Footer top row wrapper -->
    <div class="container-fluid site-max footer-top">
        
        <div class="row">

            <div class="col-md-4">

                <section>

                  {{ page.footer }}

                  <h5>Contact us</h5>

                    <ul class="iconlist">
                        <li>
                            <i class="fas fa-envelope"></i>
                            <a href="https://www.croydon.gov.uk/contact-us/message-us">Send us a message</a>
                        </li>
                        <li>
                            <i class="fas fa-mobile-alt"></i>
                            <span class="flex-break">General enquiries
                                <strong class="flex-break">020 8726 6000</strong>
                            </span>
                        </li>
                    </ul>

                    <!--<p>See a full list of <a href="/">departments and phone numbers</a></p>-->

                </section>

            </div>

            <div class="col-md-4">

                <section>
                    
                    <h5>Visit us</h5>
                    
                    <ul class="iconlist">

                        <li>
                          <i class="fas fa-map-marker-alt"></i>
                          <span class="flex-break"><strong>Croydon
                                Council</strong><span class="flex-break">Bernard Weatherill House</span><span class="flex-break">8
                                Mint Walk</span><span class="flex-break">Croydon</span><span class="flex-break">CR0
                                1EA</span></span>
                        </li>

                    </ul>

                </section>

            </div>

            <div class="col-md-4">

                <section>

                    <h5>Accessibility</h5>

                    <p>We are committed to making our website accessible to all visitors.</p>

                    <p>Read our <a href="/accessibility">accessibility statement</a> or <a href="/">give feedback</a></p>

                </section>

            </div>
        </div>
    </div>
    <!-- End footer top row wrapper -->

    <!-- Divider -->
    <div class="key-under"></div>

    <!-- Start footer bottom row wrapper -->
    <div class="container-fluid site-max footer-bottom">

        <div class="row">

            <div class="col-12 col-sm-6 col-md-3">

                <section class="socials">

                    <h5 class="mb-4 mb-lg-0">Follow us</h5>

                        <a href="https://twitter.com/intent/user?screen_name=yourcroydon">
                          <i class="fab fa-twitter-square"></i>
                          <span class="visually-hidden">Click to follow us on Twitter</span>
                        </a>
                    
                        <a href="https://www.facebook.com/ilovecroydon">
                          <i class="fab fa-facebook-square"></i>
                          <span class="visually-hidden">Click to follow us on Facebook</span>
                        </a>
                      
                        <a href="https://www.flickr.com/photos/yourcroydon/">
                          <i class="fab fa-flickr"></i>
                          <span class="visually-hidden">Click to follow us on Flickr</span>
                        </a>
                    
                        <a href="https://www.youtube.com/user/croydoncouncil/featured">
                          <i class="fab fa-youtube-square"></i>
                          <span class="visually-hidden">Click to follow us on Youtube</span>
                        </a>

                </section>

                
            </div>

            <div class="col-12 col-sm-6 col-md-9">

                <section>
                    <h5 class="mb-3 mb-lg-0"><i class="fas fa-check-circle"></i> Do it online</h5>
                    <p class="mb-3 mb-sm-0">There are more services than ever available through My Account</p>
                    <p class="mb-3 mb-sm-0 account-links">
                      <i class="fas fa-sign-in-alt"></i>
                      <a href="https://www.croydon.gov.uk/doitonline/">
                        <strong>Login to My Account</strong>
                      </a>
                    </p>
                </section>

            </div>
        </div>
    </div>
    <!-- End footer bottom row wrapper -->
</footer>



<nav class="navbar-light nav-vanilla bg-light">
  <div class="container-fluid site-max">
    <div class="row">
    
      <div class="col-12 col-md-3 d-flex justify-content-start align-items-center">

        <a class="navbar-brand pt-3 pb-3" href="/" title="Go to London Borough of Croydon Homepage">
          <img class="img-fluid" src="/themes/custom/croydon/dist/assets/img/footer-logo.png" alt="" />
        </a>

      </div>
      
      <div class="col-12 col-md-6 d-flex justify-content-start align-items-center">
        
        <nav aria-label="footernavigation">
          <ul class="d-flex flex-wrap flex-md-nowrap list-unstyled mb-0">
            <li class="mr-4">
                <a href="https://www.croydon.gov.uk/doitonline/">Services</a>
            </li>
            <li class="mr-4">
                <a href="https://www.croydon.gov.uk/atoz">A to Z</a>
            </li>
            <li class="mr-4">
                <a href="http://maps.croydon.gov.uk/aya/pages/aya/aya.html">In your area</a>
            </li>
            <li class="mr-4">
                <a href="http://news.croydon.gov.uk/">News</a>
            </li>
            <li>
                <a href="https://www.croydon.gov.uk/jobsatcroydon/search-jobs">Jobs</a>
            </li>
          </ul>
        </nav>
      
      </div>

      <div class="col-12 col-md-3 pt-3 pb-3 copyright d-flex justify-content-start justify-content-md-end align-items-center">

        <p>&copy; Croydon Council {{ "now"|date("Y") }}</p>

      </div>
    </div>
  </div>
</nav>