{% extends "page.html.twig" %}

{% block content_inner %}
  <div class="col-12 clearfix">
    {{ page.messages }}
  </div>

 
    <main {{ content_attributes.addClass('directory-listing-content col-md-8 order-1') }}>
      {{ page.content }}
    </main>

    {% if page.sidebar_second %}
      <div class="sidebar col-md-4 order-2">
        {{ page.sidebar_second }}
      </div>
    {% endif %}
  
{% endblock %}
