{% extends 'page.html.twig' %}

{% block header %}
  {% include '@croydon/system/header.html.twig' with {'page': page, 'border': false} %}
{% endblock %}

{% block content_inner %}

  {% if page.messages %}
    <div class="col-12 clearfix">
      {{ page.messages }}
    </div>
  {% endif %}

  <main {{ content_attributes.addClass('content col-md-8 order-2 order-md-1 mt-sm-5') }}>
    {{ page.content }}

    <a href="#main-content" class="action-link focus-top">Back to top</a>
  </main>

  <div class="sidebar col col-md-4 order-1 order-md-2 mt-sm-5">
    {% if page.sidebar_second %}
      {{ page.sidebar_second }}
    {% endif %}
  </div>
{% endblock %}