{% extends "page.html.twig" %}
{% block content %}
<main class="container-fluid site-max mt-0">
	{{ page.breadcrumb }}
	{{ page.messages }}
	{{ page.content }}

	{{ page.content_bottom }}
</main>
{% endblock %}
