{% extends 'page.html.twig' %}

{% block header %}
  {% include '@croydon/system/header.html.twig' with {'page': page, 'border': false} %}
{% endblock %}

{% block content_inner %}

  {% if page.messages %}
    <div class="col-12 clearfix">
      {{ page.messages }}
    </div>
  {% endif %}

  <main {{ content_attributes.addClass('content col-lg-8 order-1 mt-5') }}>
    {{ page.content }}
  </main>

  <div class="sidebar col-lg-4 order-2 mt-5">
    {% if page.sidebar_second %}
      {{ page.sidebar_second }}
    {% endif %}
  </div>
{% endblock %}
