{% extends 'page.html.twig' %}

{% block header %}
  {% include '@croydon/system/header.html.twig' with {'page': page, 'border': false} %}
{% endblock %}

{% block content_inner %}
  <div class="col-12 clearfix">
    {{ page.messages }}
  </div>

    <main {{ content_attributes.addClass('col-lg-8 order-1') }}>
      {{ page.content }}
    </main>

    {% if page.sidebar_second %}
      <div class="sidebar col-lg-4 order-2">
        {{ page.sidebar_second }}
      </div>
    {% endif %}
 
{% endblock %}
