{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  

<div class="col-12 key-under">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
      {% for key, item in breadcrumb %}
      {% if item.url %}
      <li class="breadcrumb-item"><a href="{{ item.url }}">{{ item.text }}</a></li>
      {% else %}
      <li class="breadcrumb-item">{{ item.text }}</li>
      {% endif %}
      {% endfor %}
    </ol>
  </nav>
</div>


{% endif %}
