.margin-bottom--20 {
    margin-bottom: 20px !important;
	margin-bottom: 1.25rem !important;
}

.margin-bottom--30 {
    margin-bottom: 30px !important;
	margin-bottom: 1.875rem !important;
}

.margin-bottom--40 {
    margin-bottom: 40px !important;
	margin-bottom: 2.5rem !important;
}

.margin-top--20 {
    margin-top: 20px !important;
	margin-top: 1.25rem !important;
}

.margin-top--30 {
    margin-top: 30px !important;
	margin-top: 1.875rem !important;
}

.margin-top--40 {
    margin-top: 40px !important;
	margin-top: 2.5rem !important;
}

.margin-top--minus-25 {
    margin-top: -25px !important;
	margin-top: -1.5625rem !important;
}

.content-spacer {
    overflow: auto;
    .headers h2 {
        font-family: $font-main;
        font-weight: 700;
        @include rem(font-size, 24);
        @include rem(line-height, 28);
        color: #000000;
        @include rem(margin-bottom, 30);
    }
}

.startpage .section {
	@include rem(padding-top, 40);
}


.sidebar .section {
    @include rem(margin-bottom, 40);
    @include rem(padding-bottom, 35);
}

.sidebar .section:last-child {
    @include rem(padding-bottom, 0);
}

.section {
    overflow: auto;
	@include rem(margin-bottom, 30);
}

.pull-left {
    float: left!important;
}

.pull-right {
    float: right!important;
}

.hidden {
    display: none!important;
}

.sr-only {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.hidden-xs {
	@media only screen and (max-width: $screen-xs-max){
		display: none!important;
	}
}

.visible-xs-inline-block {
	display: none!important;
	@media only screen and (max-width: $screen-xs-max){
		display: inline-block!important;
	}
}

.visible-xs {
	display: none!important;
	@media only screen and (max-width: $screen-xs-max){
		display: block!important;
	}
}

/* Overflow for infinite scroll container on Drupal */

#infinite-scroll--wrapper {
    overflow: auto;
    margin-bottom: 40px
}
