{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}

<div id="home-site-search" class="input-group">
  <input{{ attributes }} />{{ children }}

  <span class="input-group-btn">
  	<h1>homepage search</h1>
    <button class="btn btn-default" type="submit" value="Search">Search <span class="fa fa-search"></span></button>
  </span>
</div>
