{% if enabled %}
<div class="alert-bar" id="globalBanner" style="display: none;" role="contentinfo" aria-label="globalalert">
	<div class="container-fluid site-max">
		<div class="row">
			<div class="col-12 text-left pt-3 pb-3">
				{{ text }}
			</div>
			<div class="col-12 col-sm-2 text-center text-sm-right pt-3 pb-3 d-none">
				<a href="#" id="closeGlobalBanner">Hide <span class="sr-only">Click here to hide this notification</span></a>
				<i class="fas fa-times-circle" aria-hidden="true"></i>
			</div>
		</div>
	</div>
</div>
{% endif %}
