{% if enabled %}
  <div class="alert-bar" id="globalBanner" role="alert" style="display: none;">
    <div class="container-fluid site-max">
      <div class="row">

        <!-- <div class="col-12 col-sm-10 text-left pt-3 pb-3"> -->
        <div class="col-12 text-left pt-3 pb-3">
          {{ text }}
        </div>
       <!-- tmp remove for soft launch <div class="col-12 col-sm-2 text-center text-sm-right pt-3 pb-3">
          <a href="#" id="closeGlobalBanner">Hide <span class="sr-only">Click here to hide this notification</span></a><i class="fas fa-times-circle"></i>
        </div>-->

      </div>
    </div>
  </div>
{% endif %}
