{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
<button type="submit" class="button form-submit {{attributes.class}}">
  <span>{{ attributes.value }}</span>
</button>
{{ children }}
