{#
This file provides the HTML structure for baic pages.
#}

<main {{ content_attributes.addClass('content col-lg-8 order-1') }}>

  {% if guide_contents %}
    {{ guide_contents }}
  {% endif %}

  <h2>Overview</h2>
  {{ content }}

  {% if next_url %}
    <aside class="navigation-link-container clearfix">
      <button type="button" onclick="location.href='{{ next_url }}'" class="btn btn-primary"><span class="fa fa-chevron-right"></span>Next</button>
    </aside>
  {% endif %}
</main>
