<div class="top-story--block_small">

  <div class="top-story--content">
    <h3>
      <a href="{{ url }}">{{ label }}</a>
    </h3>
    <p>{{ content.field_description|render }}</p>
    <p class="top-story--tag_block">PROMOTED</p>
  </div>
</div>
