{% extends 'block--system-menu-block.html.twig' %}

{% block label %}
  {% if configuration.label_display %}
    <h3 class="footer-heading">{{ configuration.label }}</h3>
  {% endif %}
{% endblock %}
