{% extends 'block--system-menu-block.html.twig' %}

{% block label %}
  {% if configuration.label_display %}
    <h2 class="footer-heading">{{ configuration.label }}</h2>
  {% endif %}
{% endblock %}
