<section class="campaign-banner-wrapper col-12">
  <div class="campaign-banner col-12" style="background-image: url('{{ file_url(image) }}')">
      <div class="campaign-banner--inner">
        <h1>{{ heading }}123456789</h1>
      </div>
  </div>
</section>
