<section class="jumbotron jumbo-wrapper" style="background-color: {{ fade_colour }};">
  <div class="container-fluid site-max" style="background-image: url({{ image_url }})">
      <div class="row">
        <div class="jumbo-welcome col-12 col-md-6">
          <h1>
            <span>{{ first_line }}</span>
            {% if second_line %}<span>{{ second_line }}</span>{% endif %}
          </h1>
        </div>
      </div>
  </div>
</section>
