<section class="jumbotron homepage--hero-wrapper" style="background-color: {{ fade_colour }};">
  <div class="container-fluid site-max" style="background-image: url({{ image_url }})">
      <div class="homepage--hero-inner row">
        <div class="homepage--welcome col-10 col-md-12">
          <h1>
            <span>{{ first_line }}</span>
            {% if second_line %}<span>{{ second_line }}</span>{% endif %}
          </h1>
        </div>
      </div>
  </div>
</section>
