{{ attach_library('bhcc_directories2/open_layers') }}

<div class="directory-map-results">

  <div class="clearfix">
    <div class="pull-left">
      <button class="hide-map"><span class="fas fa-eye-slash"></span>Hide map</button>
      <button class="show-map"><span class="fas fa-eye"></span>Show map</button>
    </div>
    <div class="pull-right">
      <button class="reset-map"><span class="far fa-map"></span>Reset map</button>
    </div>
  </div>

  <div class="directories-map">
    <h2 class="sr-only">Directories Map</h2>
    <div id="map-wrapper">
      <div id="map" class="map"></div>
    </div>
  </div>

</div>
